%h1
  Transfer initiated
%h3
  = "Your transfer of " + number_to_currency(@amount) + " has been initiated."
  %p
  %b Please allow up to 3 business days for your transfer to process.
= link_to 'Back', my_sales_orders_path

// :javascript
//   alert('Your transfer has been initiated. Please allow up to 3 business days for your transfer to process.')