- content_for :title do
  Checkout success
  \-
  Afillio

.text-center
  %h1.text-success Success
  Checkout status: 
  = @session.payment_status
  %br
  Amount paid:
  = number_to_currency(@session.amount_total/100.to_f)
  %br
  = link_to 'Order summary', order_path(@order)