.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .fa.fa-user-edit
          Information submitted
      .card-body
        Thank you for your interest in becoming a vendor.
        %p
        Once the information you submitted is verified, your seller account will be switched to a vendor account.
      .card-footer
        = link_to 'Home', root_path