.row.justify-content-center
  .col-md-10
    %h1
      About us
    .img-max
      = image_tag("burlington-vermont.jpeg", class: 'img-fluid')
    %p
    Afillio is an affiliate marketing business based in Burlington, Vermont. 
    %hr
    %b Our goal is to make affiliate marketing as simple as possible.
    %hr
    %i "Vendor" refers to the person listing their products on Afillio
    %br
    %i "Seller" refers to the person selling vendors' products on Afillio
    %hr
    %h3
      Why become a vendor?
    Afillio allows for extensive advertisement and direct to consumer sales with no overhead cost. 
    This allows for smaller businesses to get their foot in the door and start building a community around their brand without 
    paying expensive advertising fees. Larger businesses with an existing community can also benefit from allowing people who are passionate 
    about their products to sell them.
    %br
    = link_to 'Become a vendor', become_vendor_path
    %p
    %h3
      Why become a seller?
    Afillio makes affiliate marketing as simple as possible in order to make it accessible to the average person. 
    No longer does one need to go through extensive sign up processes or have thousands of followers to successfully affiliate market. 
    Simply, sign up on Afillio and start selling products you are passionate about to friends, family, and more.
    %br
    = link_to 'How it works', how_it_works_path
    %p
    %h3
      Our team
    William Suratt (pimp)