%h1
  How it works
.card-group
  .card.card-body
    .p-3
      %h1
        .fa.fa-shopping-bag
      Find a product to sell
  .card.card-body
    .p-3
      %h1
        .fa.fa-qrcode
      Share your link with a customer or have them scan your QR code
  .card.card-body
    .p-3
      %h1
        .fa.fa-check-square
      Customer completes purchase
  .card.card-body
    .p-3
      %h1
        .fa.fa-hand-holding-usd
      You get paid

- if current_user
  = link_to 'Get started', products_path
- else
  = link_to 'Get started', new_user_registration_path