%h1
  How it works
.card-group
  .card.card-body
    %h1
      .fa.fa-shopping-bag
    Find a product to sell
  .card.card-body
    %h1
      .fa.fa-qrcode
    Share your link with a customer or have them scan your QR code
  .card.card-body
    %h1
      .fa.fa-check-square
    Customer completes purchase
  .card.card-body
    %h1
      .fa.fa-hand-holding-usd
    Get paid

= link_to 'Get started', new_user_registration_path