- content_for :title do
  Vendor welcome
  \-
  Afillio

.row.justify-content-center
  .col-md-10
    %h1.text-center.mb-4
      Welcome to Afillio!
    
    %p
    %h3
      What is Afillio?
    
    %p
    Afillio is an online marketplace with the goal of making affiliate marketing as simple and as cost effective as possible. 
    Simply sign up as a Vendor, list your products, and have anyone and everyone sell them for commission. 
    
    %p
    .img-max
      = image_tag("affiliate-marketing.png", alt: "Afilliate Marketing", class: 'img-fluid')
    
    %p
    %h3
      Why use Afillio?
    
    %p
    %b Simple:
    Easy signup and listing process.
    
    %p
    %b Cost effective:
    Afillio only takes a 3% service fee which is less than half of what most competitors take.
    
    %p
    %b Only pay for guaranteed sales:
    You only pay Sellers commission on sales that are completed.
    
    %p
    %b Expand customer base:
    Customers who buy from an Afillio Seller are more likely to become repeat customers through your website.
    
    %p
    %b Community:
    Your loyal customers will feel more a part of your brand when you give them the ability to sell products they are passionate about.
    
    %p
    %b Achieve lower CPA (Cost Per Acquisition):
    Depending on your CPA through advertisements, you may be able to achieve a lower CPA by paying commission through Afillio instead.
    
    .mt-5
    %h3
      How can Afillio be used to make sales?
    
    %p
    %b Social media:
    Post links to listed products to allow followers to sell your products and earn commissions.
    
    %p
    %b Email:
    Send emails informing existing customers of their opportunity to earn money by selling products that they are familiar with.
    
    .mt-5.text-center
      = link_to 'Get started', support_index_path, class: 'btn btn-lg btn-success'
