@import "node_modules/bootstrap/scss/bootstrap";

a:hover {
    background-color: transparent;
}

a:link {
    text-decoration:none; 
}

a:visited {
    color: $primary;
}

a.support-link:visited {
    color: black;
}

a.dropdown-item:link {
    color: $primary;
}

a.btn-custom:hover {
    background-color: #71a67f;
}

a.btn-custom:visited {
    color: white;
}

.btn-success:visited {
    color: white;
}

a.btn-warning:visited {
    color: white;
}

a.btn-danger:visited {
    color: white;
}

.btn-custom {
    color: white;
    background-color: #90d4a2;
}

.btn-warning {
    color: white;
}

.border-gray {
    border-color: $gray-400;
}

.border-custom {
    border: 5px solid #90d4a2 !important;
}

.mt-n5 {
    margin: -5px 0px 0px 0px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.bg-gray {
    background: #edecec;
}

.bg-custom {
    background: #90d4a2;
}

@include media-breakpoint-up(md) {
    .my_sales {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

.footer_links {
    color: white;
}

.footer_links:visited {
    color: white;
}

.footer_links:hover {
    color: $gray-400;
}

.form-control.is-invalid { 
    background-image: none; 
}

.form-control.is-valid { 
    background-image: none; 
}

.card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
}

//footer always on the bottom
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 300px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	//height: 200px;
	width: 100%;
	overflow: hidden;
	padding: 30px 0;
}

.card-columns .card {
    display: block;
    width: 100%;
}

.card {
    padding: 1px;
}

//iOS rounded input
input {
    border-radius: 0;
}

input[type="search"] {
    -webkit-appearance: none;
}

.img-max {
    max-width: 480px
}

.product-img {
    max-width: 75%;
    max-height: 100%;
    border-radius: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-img-container {
    position: relative;
    width: 100%;
    padding-top: min(15em, 100%); /* 1:1 Aspect Ratio */
    max-padding-top: 15em;
}

.mobile-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 1:1 Aspect Ratio */
}

.img-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.w-10 {
    width: 10%;
}

.list-group-item {
    color: $gray-900
}

.text-support {
    color: black !important;
}

.index-search-btn {
    border-radius: 0 5px 5px 0;
}

@include media-breakpoint-down(md) {
    .mobile-hover-disabled:hover {
        background-color: transparent;
        color: $gray-900
    }
}

@include media-breakpoint-down(md) {
    .desktop {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .mobile {
        display: none;
        width: 100%;
    }
}