.row.row-cols-2.pb-4.border-bottom
  .col
    .mx-auto.mr-sm-4
      - if product.image.attached?
        = image_tag product.image, alt: product.title + " image", class: "mobile-product-img"
  .col
    .pt-3
      %h6.product-card-title.border-0.pb-0
        = product.title
      .font-size-sm
        %span.mr-2> Size:
        8.5
      .font-size-sm
        %span.mr-2> Color:
        Black
      .font-size-lg.text-primary.pt-2 $125.00