.row.row-cols-2.pb-4.border-bottom
  .col.position-relative
    %a.stretched-link{:href => product_path(product)}
    - if product.images.attached?
      .mobile-img-container.mx-auto.mr-sm-4.text-center
        .img-item
          = image_tag product.images.first(), alt: product.title + " image", class: "mobile-img"
  .col.position-relative
    %a.stretched-link{:href => product_path(product)}
    .pt-3
      %h6.product-card-title.border-0.pb-0
        = product.title
      .font-size-sm
        %span.mr-2
        Price:
        = number_to_currency(product.sale_price_cents)
      .font-size-sm
        %span.mr-2
        Commission:
        = number_to_currency(product.commission_cents)
