- if not current_user.info_complete?
  .alert.alert-danger{:role => "alert"}
    Please complete 
    = link_to 'user info', vendor_info_user_path(current_user)
    before creating new products.
.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .fa.fa-shopping-bag
          New product
      .card-body
        = render 'form'
      .card-footer
        = link_to 'Back', products_path
