= link_to 'Products', products_path
\/
= link_to @product.title, product_path(@product)

= render 'products/product', product: @product

.text-center
  %p
  = @svg.html_safe
  %p
  %input#myInput{:type => "text", :value => request.original_url}/
  %button{:class => "btn btn-sm btn-custom", :onclick => "myFunction()"}
    .fa.fa-clipboard
:javascript
  function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById("myInput");
  
    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */
  
    /* Copy the text inside the text field */
    document.execCommand("copy");
  
    /* Alert the copied text */
    alert("Copied the text: " + copyText.value);
  }