%h2
  .text-center
    Reviews
    .badge.bg-danger
      = @pagy.count
%h4
  .text-center
    Average rating:
    = @reviews.average(:rating).round(2).to_f
%p

.row.row-cols-1.row-cols-2.row-cols-lg-3.row-cols-lg-4.g-4
  - @reviews.each do |review|
    = render 'reviews/review', review: review
%p
!= pagy_bootstrap_nav(@pagy)

%br 