- content_for :title do
  New review
  \-
  Afillio

.row.justify-content-center
  .col-md-6
    .card
      .card-header
        %h3
          .text-warning.fa.fa-star
          Provide Feedback
      .card-body
        = render 'form'
      .card-footer
        = link_to 'Back', root_path

