- content_for :title do
  Become a Vendor
  \-
  Support
  \-
  Afillio

.container-fluid
  %h2.pb-3.border-bottom.mb-5 How to become a Vendor:
  .row.g-4.row-cols-1.row-cols-lg-4
    .col.d-flex.align-items-start
      .fa.fa-user.fa-2x.pe-2
      %div
        %h3.fs-2 Sign in
        %p{style: "font-size: 1.05em"}
          #{link_to 'Sign up', new_user_registration_path} and sign in (account is set to Affiliate by default).
    .col.d-flex.align-items-start
      .fa.fa-file.fa-2x.pe-2
      %div
        %h3.fs-2 Fill out Form
        %p{style: "font-size: 1.05em"}
          Fill out and submit #{link_to 'Vendor information form', current_user ? vendor_info_user_path(current_user) : new_user_session_path}.
    .col.d-flex.align-items-start
      .fa.fa-shopping-bag.fa-2x.pe-2
      %div
        %h3.fs-2 List products
        %p{style: "font-size: 1.05em"}
          List your chosen products on Afillio.
    .col.d-flex.align-items-start
      .fa.fa-comment.fa-2x.pe-2
      %div
        %h3.fs-2 Advertise
        %p{style: "font-size: 1.05em"}
          Interested Affiliates will market your products.
