#wrapper.d-md-flex

  = render 'support/sidebar'

  #page-content-wrapper
    .container-fluid
      %h1.mt-4 How to connect with Stripe:
      %p
      %ol{:style => "font-size: 16px;"}
        %li
          Navigate to your payment page. If you are a
          %b Seller,
          go to #{link_to 'My Sales', my_sales_orders_path}. If you are a 
          %b Vendor,
          go to #{link_to 'My Orders', my_orders_orders_path}.
        %p
        %li Click the purple "Connect with Stripe" button.
        %p
        %li 
          Fill out the required information.
          %b Tip: when asked to provide a business website suck peen
        %p
        %li
          Once you have successfully connected a Stripe account, 
          you should be redirected to your payment page.
          There should now be a blue "Connected with Stripe" link and a green "Payout" button.
          
      %p
      %h4 What you should see when you have successfully connected a Stripe account:
      .img-max.border.mt-4
        = image_tag("my-sales.png", alt: "My sales", class: 'img-fluid')