- content_for :title do
  Connect with Stripe
  \-
  Support
  \-
  Afillio

.container-fluid
  %h2.pb-3.border-bottom.mb-5 How to connect with Stripe:
  .row.g-3.row-cols-1.row-cols-lg-3
    .col.d-flex.align-items-start
      .fa.fa-link.fa-2x.pe-2
      %div
        %h3.fs-2 Visit Payment Page
        %p{style: "font-size: 1.05em"}
          Navigate to your payment page. If you are an
          %b Affiliate, 
          go to #{link_to 'My Sales', my_sales_orders_path}. If you are a 
          %b Vendor,
          go to #{link_to 'My Orders', my_orders_orders_path}.
    .col.d-flex.align-items-start
      .fa.fa-file.fa-2x.pe-2
      %div
        %h3.fs-2 Fill out information
        %p{style: "font-size: 1.05em"}
          Click the purple 
          %b Connect with Stripe 
          button, and fill out the required information.
    .col.d-flex.align-items-start
      .fa.fa-money-bill.fa-2x.pe-2
      %div
        %h3.fs-2 Receive payout
        %p{style: "font-size: 1.05em"}
          You should be redirected to your payment page.
          There should now be a blue 
          %b Connected with Stripe 
          link and a green 
          %b Payout 
          button.
  %div.mt-4
    %b
      Tip: if you do not have a business website click "add a product description instead" and 
      enter "affiliate marketing" if you are an Affiliate or give a product description if you are a Vendor.
  %hr
  %h4 What you should see when you have successfully connected your Stripe account:
  .img-max.border.mt-4
    = image_tag("my-sales.png", alt: "My sales", class: 'img-fluid')