.container-fluid
  %h2.pb-3.border-bottom For Affiliates
  .row.g-4.py-4.row-cols-1.row-cols-lg-4
    .col.d-flex.align-items-start
      .fa.fa-shopping-bag.fa-2x.pe-2
      %div
        %h3.fs-2 Find a product
        %p Find a product to market and download its marketing content (feel free to edit this content as you see fit).
    .col.d-flex.align-items-start
      .fa.fa-share-square.fa-2x.pe-2
      %div
        %h3.fs-2 Post content
        %p Post or advertise marketing content on any social media platform.   
    .col.d-flex.align-items-start
      .fa.fa-link.fa-2x.pe-2
      %div
        %h3.fs-2 Share link
        %p Direct people to your affiliate link.   
    .col.d-flex.align-items-start
      .fa.fa-hand-holding-usd.fa-2x.pe-2
      %div
        %h3.fs-2 Make sales
        %p Make sales and get commissions. 

  - if current_user
    = link_to 'Get started as an Affiliate', products_path
  - else
    = link_to 'Get started as an Affiliate', new_user_registration_path

  %h2.pb-3.pt-4.mt-4.border-bottom For Vendors
  .row.g-4.py-4.row-cols-1.row-cols-lg-4
    .col.d-flex.align-items-start
      .fa.fa-user-plus.fa-2x.pe-2
      %div
        %h3.fs-2 Sign up
        %p Your account will be set as an Affiliate by default.
        
    .col.d-flex.align-items-start
      .fa.fa-book.fa-2x.pe-2
      %div
        %h3.fs-2 Complete form
        %p Submit the linked vendor form, enter necessary information, and wait for approval.
        
    .col.d-flex.align-items-start
      .fa.fa-shopping-bag.fa-2x.pe-2
      %div
        %h3.fs-2 List products
        %p List your chosen products on Afillio.com.
        
    .col.d-flex.align-items-start
      .fa.fa-comment.fa-2x.pe-2
      %div
        %h3.fs-2 Advertise
        %p Interested Affiliates will market your product.
  - if current_user
    = link_to 'Get started as a Vendor', vendor_info_user_path(current_user)
  - else
    = link_to 'Get started as a Vendor', become_vendor_support_index_path
