.container-fluid
  %h1.mt-4 How it works:
  %p
  %h4
    For Affiliates:
  .card-group
    .card.card-body
      .p-3
        %h1
          .fa.fa-shopping-bag
        Find a product to market and download its marketing content (feel free to edit this content as you see fit).
    .card.card-body
      .p-3
        %h1
          .fa.fa-share-square
        Post marketing content to any platform you wish.
    .card.card-body
      .p-3
        %h1
          .fa.fa-link
        Direct people to your link (we recommend putting it in your bio).
    .card.card-body
      .p-3
        %h1
          .fa.fa-hand-holding-usd
        Make sales and get paid.
  - if current_user
    = link_to 'Get started as an Affiliate', products_path
  - else
    = link_to 'Get started as an Affiliate', new_user_registration_path
  %p
  %h4
    For Vendors:
  .card-group
    .card.card-body
      .p-3
        %h1
          .fa.fa-user-plus
        Sign up (your account will be set to Affiliate by default).
    .card.card-body
      .p-3
        %h1
          .fa.fa-align-justify
        Submit Vendor form (click become vendor link below) and wait to be approved.
    .card.card-body
      .p-3
        %h1
          .fa.fa-shopping-bag
        List your products on the site.
    .card.card-body
      .p-3
        %h1
          .fa.fa-comment
        Share your products to get people interested in marketing them.
  - if current_user
    = link_to 'Get started as a Vendor', vendor_info_user_path(current_user)
  - else
    = link_to 'Get started as a Vendor', become_vendor_support_index_path