- content_for :title do
  How it works
  \-
  Support
  \-
  Afillio

%h2
  .text-center.mb-4
    Support

.row
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => how_it_works_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-question
        %p
        %h3.card-title How it works
        %p
        %p.card-text.text-muted.text-support Learn how the affiliate marketing and vending processes work.
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => sign_up_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-pen-square
        %p
        %h3.card-title Sign up
        %p
        %p.card-text.text-muted.text-support Learn how easy it is to join as an Affiliate or as a Vendor.
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => become_vendor_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-store
        %p
        %h3.card-title Become a Vendor
        %p
        %p.card-text.text-muted.text-support Learn the sign up instructions for becoming a Vendor.
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => withdraw_balance_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-money-bill
        %p
        %h3.card-title Withdraw balance
        %p
        %p.card-text.text-muted.text-support Learn how to withdraw your account's balance.
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => market_product_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-box
        %p
        %h3.card-title Affiliate market a product
        %p
        %p.card-text.text-muted.text-support Learn the process for affiliate marketing a product.
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => connect_stripe_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-plug
        %p
        %h3.card-title Connect with Stripe
        %p
        %p.card-text.text-muted.text-support Learn how to properly connect your Stripe account.
  .col-sm-3.mb-4
    .card.shadow-sm
      %a.stretched-link{:href => other_support_index_path}
      .card-body.px-4.pb-4
        %h1
          .fa.fa-comment-dots
        %p
        %h3.card-title Other
        %p
        %p.card-text.text-muted.text-support Ask any other questions you may have here.
