- content_for :title do
  Affiliate market a product
  \-
  Support
  \-
  Afillio

.container-fluid
  %h2.pb-3.border-bottom.mb-5 How to affiliate market a product:
  .row.g-4.row-cols-1.row-cols-lg-4
    .col.d-flex.align-items-start
      .fa.fa-download.fa-2x.pe-2
      %div
        %h3.fs-2 Download content
        %p{style: "font-size: 1.05em"}
          Click on the product you wish to market and download its marketing content.
    .col.d-flex.align-items-start
      .fa.fa-video.fa-2x.pe-2.mt-1
      %div
        %h3.fs-2 Post content 
        %p{style: "font-size: 1.05em"}
          Post the marketing content on any platform and direct customers through your link.
    .col.d-flex.align-items-start 
      .fa.fa-link.fa-2x.pe-2
      %div
        %h3.fs-2 Customer service
        %p{style: "font-size: 1.05em"}
          The customer orders through your link traffic, and fills out and submits the order form.
    .col.d-flex.align-items-start 
      .fa.fa-money-bill.fa-2x.pe-2.mt-1
      %div
        %h3.fs-2 Commission 
        %p{style: "font-size: 1.05em"}
          Once payment has been processed, the commission from the sale is added to your account balance.

  %b Tip: add Afillio to your homescreen for easier access.