- content_for :title do
  Other
  \-
  Support
  \-
  Afillio

.container-fluid
  %h1.mt-4 Other questions:
  %p
  Please email 
  = mail_to 'support@afillio.com', 'support@afillio.com'
  with any other questions.