- content_for :title do
  Sell a product
  \-
  Support
  \-
  Afillio

.container-fluid
  %h1.mt-4 How to sell a product:
  %p
  %ol{:style => "font-size: 16px;"}
    %li Click on the product you wish to sell and download its marketing content.
    %p
    %li Post the marketing content on any platform and direct customers through your link.
    %p
    %li Customer fills out the order form and submits payment.
    %p
    %li Once payment has been processed, the commission from the sale is added to your account balance.
  %p
  %b Tip: add Afillio to your homescreen for easier access.