- content_for :title do
  Sign up
  \-
  Support
  \-
  Afillio

.container-fluid

  %h2.pb-3.border-bottom.mb-5 How to sign up as an Affiliate:
  .row.g-4.py-4.row-cols-1.row-cols-lg-3
    .col.d-flex.align-items-start
      .fa.fa-envelope.fa-2x.pe-2
      %div
        %h3.fs-2 Register
        %p{style: "font-size: 1.1rem"} 
          Signing up with Afillio is free but only registered users can affiliate market on Afillio. 
          When you #{link_to 'sign up', new_user_registration_path}, your account will automatically be an Affiliate account. 
          To become a Vendor, please follow #{link_to 'these instructions', become_vendor_support_index_path}.
    .col.d-flex.align-items-start
      .fa.fa-shopping-bag.fa-2x.pe-2
      %div
        %h3.fs-2 Find a product
        %p{style: "font-size: 1.1rem"} 
          Almost any Affiliate can find a product they are passionate about to market using Afillio. 
          Browse our various categories, see where your skills fit in and decide how you want to market.
    .col.d-flex.align-items-start
      .fa.fa-money-bill.fa-2x.pe-2
      %div
        %h3.fs-2 Commission
        %p{style: "font-size: 1.1rem"} 
          Customers who purchase from you pay Afillio in advance. When the purchase is successfully completed, 
          you will receive the listed commission from the total order value. For example, if you successfully 
          market a product for $10 with a listed commission of $5, you will receive $5 for a completed purchase.