/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.dig(:google_analytics)}"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '#{Rails.application.credentials.dig(:google_analytics)}');

  gtag('event', 'purchase', { 'transaction_id': 't_12345' });

%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.dig(:google_analytics_campaign)}"}
  :cdata
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '#{Rails.application.credentials.dig(:google_analytics_campaign)}');
