.nav.navbar-light.bg-warning.justify-content-center.p-2
  .nav-item.text-center
    .text-white{:style => "font-weight:bold; font-size:1.25em;"} Powered by Afillio
-# .nav.navbar-light.bg-danger.justify-content-center.p-2
-#   .nav-item
-#     .text-white{:style => "font-size:0.75em;"} All products on sale now!
