-# %nav{:style => "background-color:#90d4a2;"} 
-#   .text-center.p-2
-#     .text-white{:style => "font-weight:bold; font-size:1.25em;"} BackSaver Pro
-#     .text-white{:style => "font-size:0.75em;"} Powered by Afillio

-# %nav.navbar.navbar-expand-lg.navbar-dark.nabar-default{:style => "background-color:#90d4a2;"} 
-#   .container-fluid
-#     .navbar-brand{:style => "font-weight:bold;"} Afillio Products

.nav.navbar-light.bg-light.justify-content-center.p-2
  .nav-item.text-center
    .text-secondary{:style => "font-weight:bold; font-size:1.25em;"} Powered by Afillio
.nav.navbar-light.bg-danger.justify-content-center.p-2
  .nav-item
    .text-white{:style => "font-size:0.75em;"} All products on sale now!
