%nav{:style => "background-color:#90d4a2;"} 
  .text-center.p-2
    .text-white{:style => "font-weight:bold; font-size:1.25em;"} BackSaver Pro
    .text-white{:style => "font-size:0.75em;"} Powered by Afillio
